ci:
  autoupdate_schedule: quarterly

exclude: '(?:^flow/util/mistune/)'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.4.0'
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v3.3.1'
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/PyCQA/isort
    rev: '5.12.0'
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: '23.3.0'
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: '6.0.0'
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/pydocstyle
    rev: '6.3.0'
    hooks:
      - id: pydocstyle
        exclude: |
          (?x)^(
            ^doc/|
            ^tests/|
            ^flow/util/mistune/
          )
        additional_dependencies:
          - tomli
