repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v3.4.0'
    hooks:
      - id: end-of-file-fixer
        exclude: 'setup.cfg'
      - id: trailing-whitespace
        exclude: 'setup.cfg'
      - id: debug-statements
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v2.10.1'
    hooks:
      - id: pyupgrade
        exclude: '(?:mistune/.*)'
        args:
          - --py36-plus
  - repo: https://github.com/pycqa/isort
    rev: '5.7.0'
    hooks:
      - id: isort
        exclude: '(?:mistune/.*)'
  - repo: https://github.com/psf/black
    rev: '20.8b1'
    hooks:
      - id: black
        exclude: '(?:mistune/.*)'
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.9.0'
    hooks:
      - id: flake8
        exclude: '(?:mistune/.*)'
  - repo: https://github.com/pycqa/pydocstyle
    rev: '5.1.1'
    hooks:
      - id: pydocstyle
        files: ^((?!doc|tests|mistune).)*$
# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: 'v0.790'
#   hooks:
#     - id: mypy
