{% if compact %}
{% extends "base_status_compact.jinja" %}
{% elif not unroll %}
{% extends "base_status_stack.jinja" %}
{% else %}
{% extends "base_status.jinja" %}
{% endif %}
{% block detailed %}
{{ super () }}
{{ 'Operations: \n' }}
| job_id | operation | aggregation_status | eligible | cluster_status |
| ------ | --------- | ------------------ | -------- | -------------- |
{% for job in jobs %}
{% for key, ops in job['operations'].items() %}
{% if loop.first %}
{% for value in ops if value | job_filter(scheduler_status_code, all_ops) %}
| {{ job['job_id'] }} | {{ '%s' | highlight(value['eligible'], pretty) | format(key) }} | {{ value['aggregate_detail'] | highlight(value['aggregate_detail'], pretty) }} | {{ alias_bool[value['eligible']] }} | {{ scheduler_status_code[value['scheduler_status']] }} |
{% endfor %}
{% else %}
{% for value in ops if value | job_filter(scheduler_status_code, all_ops) %}
|  | {{ '%s' | highlight(value['eligible'], pretty) | format(key) }} | {{ value['aggregate_detail'] | highlight(value['aggregate_detail'], pretty) }} | {{ alias_bool[value['eligible']] }} | {{ scheduler_status_code[value['scheduler_status']] }} |
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{{ status_legend }}
{% endblock %}
