{% extends "base_status.jinja" %}
{% block detailed %}
{% set field_head = field_job_id  + '%s' + field_label %}
{% set field_operation = ("%%1s %%-%ss %%3s  " | format(column_width_operation)) %}
{% for job in jobs %}
{% if parameters %}
{% set para_output = ns.field_parameters | format(*job['parameters'].values()) %}
{% endif %}
{{ field_job_id | format(job['job_id']) }}{{para_output}}{{ '%s' | format(job['labels'] | join(', ')) }}
{% for key, value in job['operations'].items() if value | job_filter(scheduler_status_code, all_ops) %}
{{ field_operation | highlight(value['eligible']) | format(value | get_operation_status(operation_status_symbols), key, '['+scheduler_status_code[value['scheduler_status']]+']') }}
{% endfor %}
{% endfor %}
{{ operation_status_legend }}
{{ status_legend }}
{% endblock %}
