{% if compact %}
{% extends "base_status_compact.jinja" %}
{% elif not unroll %}
{% extends "base_status_stack.jinja" %}
{% else %}
{% extends "base_status.jinja" %}
{% endif %}
{% block detailed %}
{{ super () }}
{{ 'Operations: \n' }}
{% set field_op_table = '| %s | %s | %s | %s |' %}
{{ field_op_table | format('job_id', 'operation', 'eligible', 'cluster_status') }}
{{ field_op_table | format('-', '-', '-', '-') }}
{% for job in jobs %}
{% for key, value in job['operations'].items() %}
{% if (scheduler_status_code[value['scheduler_status']] != 'U' or value['eligible']) or all_ops%}
{{ '| %s | ' | format(job['job_id']) }}{{ '%s | ' | highlight(value['eligible']) | format(key) }}{{ '%s | ' | format(alias_bool[value['eligible']])}}{{ '%s |' | format(scheduler_status_code[value['scheduler_status']])}}
{% endif %}
{% endfor %}
{% endfor %}

{{ status_legend }}
{% endblock %}
