{% extends "terminal_base_status.jinja" %}
{% block detailed %}
{% set detail_field_head = table_string + field_job_id  + table_string + '%s' + field_label + table_string %}
{% set field_operation = ("%%1s %%-%ss %%3s" | format(column_width_operation)) %}
{{ detail_field_head | format('job_id', para_head, 'labels') }}
{{ detail_field_head | format('-' * column_width_id, ns.dash, '-' * column_width_total_label) }}
{% for job in jobs %}
{% if parameters %}
{% set para_output = ns.field_parameters | format(*job['parameters'].values()) %}
{% endif %}
{{table_string}}{{ field_job_id | format(job['job_id']) }}{{table_string}}{{para_output}}{{ '%s' | format(job['labels'] | join(', ')) }}{{table_string}}
{% for key, value in job['operations'].items() if value | job_filter(scheduler_status_code, all_ops) %}
{{table_string}}{{ field_operation | highlight(value['eligible'], bold_prefix, bold_suffix) | format(value | get_operation_status(operation_status_symbols), key, '['+scheduler_status_code[value['scheduler_status']]+']') }}{{table_string}}
{% endfor %}
{% endfor %}
{{ operation_status_legend }}
{{ status_legend }}
{% endblock %}
