# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2

jobs:
  check-metadata:
    docker:
      - image: circleci/python:3.8

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: install-dev-requirements
          command: |
            pip install --user -U -r requirements-test.txt
      - run:
          name: check-citation-metadata
          command: |
            ./.sync-zenodo-metadata.py --check > /dev/null

  pre-test-checks:
    docker:
      - image: circleci/python:3.8

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: install-dev-requirements
          command: |
            pip install --user -U -r requirements-test.txt
      - run:
          name: check-code-style
          command: |
            python -m flake8 --show-source .

  test-3.8: &test-template
    environment:
      SIGNAC_VERSION: master
    docker:
      - image: circleci/python:3.8

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            pip install -U virtualenv --user
            mkdir -p ./venv
            python -m virtualenv ./venv
            . venv/bin/activate
            pip install git+ssh://git@github.com/glotzerlab/signac.git@${SIGNAC_VERSION}
            pip install -r requirements.txt
            pip install -r requirements-test.txt
            pip install -U coverage mock

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            coverage run --source=flow/ -m pytest -v tests/
            coverage report -i --include="flow*"

      - store_artifacts:
          path: test-reports
          destination: test-reports

  test-3.8-signac-1.0.0:
    <<: *test-template
    environment:
      SIGNAC_VERSION: "v1.0.0"
  test-3.8-signac-1.2.0:
    <<: *test-template
    environment:
      SIGNAC_VERSION: "v1.2.0"
  test-3.8-signac-1.3.0:
    <<: *test-template
    environment:
      SIGNAC_VERSION: "v1.3.0"
  test-3.7:
    <<: *test-template
    docker:
      - image: circleci/python:3.7
  test-3.6:
    <<: *test-template
    docker:
      - image: circleci/python:3.6
  test-3.5:
    <<: *test-template
    docker:
      - image: circleci/python:3.5

  test-deploy-pypi:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: test-deploy-pypi
          command: |
            bash .circleci/deploy.bash testpypi

  deploy-pypi:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: deploy-pypi
          command: |
            bash .circleci/deploy.bash pypi


workflows:
  version: 2
  pre-test-checks-and-tests:
    jobs:
      - check-metadata:
          filters:
            branches:
              only: /release\/.*/
      - pre-test-checks
      - test-3.5:
          requires:
            - pre-test-checks
      - test-3.6:
          requires:
            - pre-test-checks
      - test-3.7:
          requires:
            - pre-test-checks
      - test-3.8:
          requires:
            - pre-test-checks
      - test-3.8-signac-1.0.0:
          requires:
            - test-3.8
      - test-3.8-signac-1.2.0:
          requires:
            - test-3.8
      - test-3.8-signac-1.3.0:
          requires:
            - test-3.8
      - test-deploy-pypi:
          filters:
            branches:
              only: /release\/.*/
          requires:
            - test-3.5
            - test-3.6
            - test-3.7
            - test-3.8
            - test-3.8-signac-1.0.0
            - test-3.8-signac-1.2.0
            - test-3.8-signac-1.3.0
  deploy:
    jobs:
      - deploy-pypi:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
